.root {
  padding: 100px;
  text-align: center;

  span {
    color: #505050;
    font-size: 55px;
  }
}

.description {
    padding: 10px;
    font-size: 26px;
    color: #505050;
    font-weight: bold;
}